@tailwind base;
@tailwind components;
@tailwind utilities;

.buffer {
  font-weight: bold;
}

.buffer.positive {
  color: #22c55e;
}

.buffer.negative {
  color: #ef4444;
}

/* スクロールバーのスタイル */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
